<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>961056538891-0giq87u755t0l65j1t9lf3k77o9pbmfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961056538891-0giq87u755t0l65j1t9lf3k77o9pbmfb</string>
	<key>API_KEY</key>
	<string>AIzaSyDgU4FrLqQSghC0Ze37rjN5QaFrvV8VXy8</string>
	<key>GCM_SENDER_ID</key>
	<string>961056538891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skpulipaka.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-176c0</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-176c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961056538891:ios:b96a4371152ec190</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-176c0.firebaseio.com</string>
</dict>
</plist>